<!DOCTYPE html>
<html>
<head>
    <title>BodyFat tracker</title>
</head>
<body>
<ul>
    <% if(!currentUser){ %>
    <li><a href="/login">Login</a></li>
    <li><a href="/register">Register</a></li>
    <% } else { %>
    <h4><%= currentUser.username %></h4>
    <li><a href="/logout">Logout</a></li>
    <% } %>
</ul>


