<% include ../partials/header %>
<h1>Make a New Measurement</h1>
<form action="/measurements" method="POST">
     <input type="text" name="user"          placeholder="user"           >
     <input type="text" name="date"          placeholder="date"           >
     <input type="text" name="weight"        placeholder="weight"         >
     <input type="text" name="neck"          placeholder="neck"           >
     <input type="text" name="waist"         placeholder="waist"          >
     <input type="text" name="hips"          placeholder="hips"           >
     <input type="text" name="shoulder"      placeholder="shoulder"       >
     <input type="text" name="chest"         placeholder="chest"          >
     <input type="text" name="arm_lef"       placeholder="arm_lef"        >
     <input type="text" name="arm_right"     placeholder="arm_right"      >
     <input type="text" name="forearm_left"  placeholder="forearm_left"   >
     <input type="text" name="forearm_right" placeholder="forearm_right"  >
     <input type="text" name="thigh_left"    placeholder="thigh_left"     >
     <input type="text" name="thigh_right"   placeholder="thigh_right"    >
     <input type="text" name="calve_left"    placeholder="calve_left"     >
     <input type="text" name="calve_right"   placeholder="calve_right"    >
     <input type="text" name="wrist_left"    placeholder="wrist_left"     >
     <input type="text" name="wrist_right"   placeholder="wrist_right"    >
     <input type="text" name="pectoral"      placeholder="pectoral"       >
     <input type="text" name="abdominal"     placeholder="abdominal"      >
     <input type="text" name="thigh"         placeholder="thigh"          >
     <input type="text" name="triceps"       placeholder="triceps"        >
     <input type="text" name="suprailiac"    placeholder="suprailiac"     >
     <input type="text" name="chest_s"       placeholder="chest_s"        >
     <input type="text" name="midaxilary"    placeholder="midaxilary"     >
     <input type="text" name="subscapula"    placeholder="subscapula"     >
     <input type="text" name="bicep"         placeholder="bicep"          >
     <input type="text" name="calf"          placeholder="calf"           >
     <input type="text" name="lowerback"     placeholder="lowerback"      >
     <input type="text" name="annotations"   placeholder="annotations"    >
     <input type="text" name="img_front"     placeholder="img_front"      >
     <input type="text" name="img_side"      placeholder="img_side"       >
     <button>Submit!</button>
</form>
<% include ../partials/footer %>